<a href="https://colab.research.google.com/github/jiseon0516/py18/blob/master/Notebook/ch2_code02_py18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch2_code02.ipynb 
## py 18 
- List
- Tuple

In [0]:
# ch2_04_list.py

print("리스트: list 란?")
odd = [1, 3, 5, 7, 9]  # ()-튜플, {}-딕셔너리, []-리스트
                       # 동적 타이핑
odd, type(odd)
# 여러 가지 리스트
# a = []   # list 초기화, null list
# a
b = [1, 2, 3]
b
c = ['Life', 'is', 'too', 'short']
c
d = [1, 2, 'Life', 'is'] # inhomogenous elements(데이터 구조가 다른 항목들을 리스트에 넣음)
d
e = [1, 2, ['Life', 'is']] # nested list(리스트 안에 리스트) - 리스트는 다른 항목을 리스트로 가질 수 있음
print("e = ", e, ", d = ", d)

리스트: list 란?
e =  [1, 2, ['Life', 'is']] , d =  [1, 2, 'Life', 'is']

In [0]:
# list 초기화
a = []
# a = list() 
a   # []

[]

In [0]:
b = list((1,2,3))
b

[1, 2, 3]

### 리스트의 인덱싱과 슬라이싱

In [0]:
print("리스트: 리스트의 인덱싱과 슬라이싱")
a = [1, 2, 3]
a
a[0]
# a[3] # list index out of range
a[0]+a[2]
a[-1]

리스트: 리스트의 인덱싱과 슬라이싱

3

In [0]:
#
a = [1, 2, 3, ['a', 'b', 'c']] # 2차원 구조 
a[0]
a[3]
a[-1]
# # check this: a[0] + a[-1] -> TypeError
# a[0] + a[-1] # TypeError: unsupported operand type(s) for +: 'int' and 'list'
# # Indexing inner list
a[-1][0] # 2차원 데이터 구조

'a'

In [0]:
#도전!
a[-1][-1]

'c'

### triple list (삼중 리스트)

In [0]:
# Indexing of triple list
# 삼중 리스트에서 인덱싱하기
a = [1, 2, ['a', 'b', ['Life', 'is', 'good']]] # 3차원 구조
a[2] # = a[-1]
a[2][-1] 
a[2][-1][0]   # 'Life'
a[2][-1][-1]  # 'Life' -> 'good' -- 중간고사 출제

'good'

### 리스트의 슬라이싱

In [0]:
#
# 리스트의 슬라이싱
a1 = [1, 2, 3, 4, 5]
a1[0:2]
a2 = "12345" # 문자열(각각이 항목이 됨)
a1[0:2], a2[0:2]

([1, 2], '12')

In [0]:
#
a = [1, 2, 3, 4, 5]
a[0:2]
a[2:]
a[0:4:2]  # a[start:end:step(2개 점프)]

[1, 3]

### 중첩된 리스트에서 슬라이싱

In [0]:
#
# 중첩된 리스트에서 슬라이싱하기
#
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]
a[3][:2]

['a', 'b']

In [0]:
# 중간고사 필기 시험
# 리스트: 인덱싱, 슬라이싱 연습
#
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x[0:3]
x[3:]
x[:6]
x[0:6:2]  # x[:6:2]
x[-1]
x[-3]
x[:-3]
x[::-1]
x[-3::-1]

[7, 6, 5, 4, 3, 2, 1]

### 리스트 연산하기

In [0]:
###################################
print("리스트: 리스트 연산하기")
###################################
#
# 리스트 더하기(+)
#
a = [1, 2, 3]
b = [4, 5, 6]
a + b

리스트: 리스트 연산하기

[1, 2, 3, 4, 5, 6]

In [0]:
#
# 리스트 반복하기(*)
#
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [0]:
#
# 리스트 길이구하기
#
len(a), len(a*3)

(3, 9)

In [0]:
#
# 초보자가 범하기 쉬운 리스트 연산 오류
#
a = [1, 2, 3]
# a[2] + "hi" # TypeError: unsupported operand type(s) for +: 'int' and 'str'
str(a[2]) + "hi" # 문자열 객체

### 리스트의 수정과 삭제

In [0]:
#
# 리스트의 수정과 삭제
#
a = [1, 2, 3]
a[2] = 4  # list is mutable(변화할 수 있는)!!!
a

[1, 2, 4]

In [0]:
#
# del 함수 사용해 리스트 요소(항목) 삭제하기
#
a = [1, 2, 3]
del a[1] # 인덱싱을 이용한 삭제
a
a = [1, 2, 3, 4, 5]
del a[2:] # 슬라이싱을 이요한 삭제
a

[1, 2]

### 리스트 관련 함수들

In [0]:
# ch2_05_list_functions.py

print("리스트: 내부 함수 이용")
#
# 리스트에 요소 추가(append)
#
a = [1, 2, 3]
a.append(4)
a
# 리스트 안에는 어떤 자료형도 추가할 수 있다.
#리스트에 다시 리스트를 추가한 결과
a.append([5,6])
a

리스트: 내부 함수 이용

[1, 2, 3, 4, [5, 6]]

In [0]:
#
# 리스트 정렬(sort)
#
a = [1, 4, 3, 2]
a.sort()
a

s = ["a", "c", "b"]
s.sort()
s

['a', 'b', 'c']

In [0]:
#
# 리스트 뒤집기(reverse)
#
a = ["a", "c", "b"]
a.reverse()
a,a[::-1] # a가 ['b', 'c', 'a']로 바뀜

(['b', 'c', 'a'], ['a', 'c', 'b'])

In [0]:
#
# 위치 반환(index)
#
a = [1, 2, 3]
a.index(3)
a.index(1)
# a.index(0) # ValueError: 0 is not in list

s = ["a", "c", "b"]
# s.index(3)  # Error #ValueError: 3 is not in list
# s.index(a)  # Error #ValueError: 변수a이지 문자a 아님 -> [1, 2, 3] is not in list
s.index("a"), s.index("b")

(0, 2)

In [0]:
#
# 리스트에 요소 삽입(insert)
#
a = [1, 2, 3]
a.insert(0, 4) # 0번 인덱스에 값 4를 넣으시오.
a
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [0]:
#
# 리스트 요소 제거(remove)
#
a = [1, 2, 3, 1, 2, 3] # 중복 값을 허용하는 데이터 구조
a.remove(3)
a
# 3을 리스트 a에서 완전히 제거
a.remove(3)
# a
# a.remove(3)  # ValueError

[1, 2, 1, 2]

In [0]:
a

[1, 2, 1, 2]

In [0]:
a.remove(3) # ValueError: list.remove(x): x not in list

In [0]:
#
# 리스트 요소 끄집어내기(pop)
#
#
# 리스트의 수정과 삭제
#
a = [1, 2, 3]
# pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.
a.pop()
a

[1, 2]

In [0]:
#
a = [1, 2, 3]
# pop(x)는 리스트의 index가 x인 요소를 돌려주고 그 요소는 삭제한다.
r = a.pop(1)
r, a
a.pop(2)  # IndexError: pop index out of range

IndexError: ignored

In [0]:
#
# 리스트에 포함된 요소 x의 개수 세기(count)
#
a = [1, 2, 3, 1] # 리스트는 중복을 허용함
a.count(1)

2

In [0]:
#
# 리스트 확장(extend)
#
a = [1, 2, 3]
a.extend([4, 5]) # 각각의 요소들이 독립적으로 추가됨
a  # a.extend([4, 5])는 a += [4, 5]와 동일

b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

## 튜플 (tuple)

In [0]:
# ch2_06_tuple.py

print("튜플: tuple 이란?")
# 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
# 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.(inmutable)

even = (2, 4, 6, 8)
even

튜플: tuple 이란?

(2, 4, 6, 8)

In [0]:
# 여러 가지 튜플
t1 = ()  # 튜플 초기화, t1 = tuple() - 리스트와 유사, null tuple
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3 # 자동으로 튜플 처리
t5 = ("a", "b", ("ab", "cd")) # 튜플 안에 튜플
# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에
# 콤마(,)를 반드시 붙여야 한다는 것과
# t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.

((1,), 1)

In [0]:
t1, t2, t3, t4, t5

In [2]:
t2n = (1) # 정수 1을 가진 변수 # t2 = (1,)
t2, t2n #t2는 튜플, t2n은 그냥 정수

NameError: ignored

In [0]:
type(t2), type(t2n) # 차이 이해

(tuple, int)

### 튜플의 요소값을 지우거나 변경

In [0]:
#####################################################
#
# 튜플의 요소값을 지우거나 변경하려고 하면 어떻게 될까?
#
# 1. 튜플 요솟값을 삭제하려 할 때
t1 = (1, 2, "a", "b")
t1
# del t1[0]  # TypeError: 'tuple' object doesn't support item deletion
#
# 2. 튜플 요솟값을 변경하려 할 때
#
t1[0] = "c"  # TypeError: 'tuple' object does not support item assignment

# 리스트는 마음대로 삭제, 변경 가능하지만 튜플은 불가능하다.

### 튜플의 인덱싱과 슬라이싱

In [18]:
#
#
print("튜플: 사용방법")
#
# 인덱싱하기
#
t1 = (1, 2, "a", "b") # 자동으로 튜플로 정의
t1[0], t1[3]
#
# 슬라이싱하기
#
t1 = (1, 2, "a", "b")
t1[1:]
t1[2:-1]  # 'a' or ('a',)
t1[2] # 튜플로 묶어서 출력, 리스트는 대괄호로 묶어서 출력함 (?)
t1[2:]

튜플: 사용방법

'a'

In [27]:
#
# 튜플 더하기
#
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t1 + t2
#
# 튜플 곱하기
#
t2 = (3, 4)
print(id(t2)) # 메모리의 주소값을 돌려주는 것이 id (각 pc에 따라 다른 값이 나옴)
t2 * 3
id(t2) # 원래 정의된 주소는 불변
t2 = t2 * 3
id(t2) # 주소 변경
#
# 튜플 길이 구하기
#
t1 = (1, 2, "a", "b")
len(t1)

140366992964296

4

In [26]:
a=1
print(id(a))
a=a+1
print(id(a)) # 어떤 변수에 값을 변경해 대입하면 그 변수는 새로운 메모리에 할당됨

10914496
10914528