<a href="https://colab.research.google.com/github/jiseon0516/py18/blob/master/Notebook/ch4_code01_py18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch4_code01.ipynb
## py18
- 파이썬 함수
    - 입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 출력
        - 반복되는 부분을 함수로 전환.
        - 코딩을 모듈화
- 매개변수와 인수
- 입력값과 결괏값
    - return
    - 여러 개의 입력을 처리하는 함수(*args)
    - 키워드 파라미터 (kwargs)
    - 매개변수에 초깃값 미리 설정
- lambda 함수 정의

In [0]:
# ch4_01_function.py
#
print("함수란 무엇인가?")
#######################################
# 입력값을 가지고 어떤 일을 수행한 다음에 
# 그 결과물을 내어놓는 것
#######################################
print("==>>", "입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것")

print("\n")

print("함수를 사용하는 이유는 무엇일까?")
#######################################
# 반복되는 부분을 함수로 전환.
# 코딩을 모듈화
#######################################
print("==>>", "반복되는 부분을 함수로 전환. 코딩을 모듈화")

함수란 무엇인가?
==>> 입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것


함수를 사용하는 이유는 무엇일까?
==>> 반복되는 부분을 함수로 전환. 코딩을 모듈화

In [0]:
print("파이썬 함수의 구조")
#######################################
"""
def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    ...
"""
# ':' 붙여야하고, 들여쓰기 해야 됨
# 반환하려면 return 사용

파이썬 함수의 구조

'\ndef 함수명(매개변수):\n    <수행할 문장1>\n    <수행할 문장2>\n    ...\n'

In [0]:
def add(a):
  print(a)
# 함수 정의

In [6]:
add(100)
add("py18") 
# 함수 실행
# add(100), add("py18") 실행 ==>> (None, None) 결과값은 return 값이 없기 때문이다.
# 동적 타이핑

100
py18

In [0]:
#######################################
# add() 함수를 정의
def add(a,b): 
    return a + b

In [1]:
def add(a,b):
  return a+b

print(add(3,4))

7

In [2]:
def add(a,b):
  return a+b

result = add(3,4)
print(result)

7

In [0]:
# add() 함수를 사용

a=3
b=4
c=add(a, b)
print(c)
d = add(3, 4)
print(d)

x=[1,2,3]
y=[4,5,6]
z=x+y
print(z)
# 리스트 더하기

7
7
[1, 2, 3, 4, 5, 6]

In [0]:
z = add(x, y)
print(z)

[1, 2, 3, 4, 5, 6]

In [0]:
w = add("Hello ", "Python!")
print(w)

Hello Python!

### 매개변수와 인수

In [0]:
print("매개변수와 인수의 차이를 이해하자!")
#######################################
# 매개변수는 함수에 입력으로 전달된 값을 받는 변수
# 인수는 함수를 호출할 때 전달하는 입력값을 의미
#######################################
# add() 함수에서의 매개변수와 인수
"""
def add(a, b):  # a, b는 매개변수
    return a+b
print(add(3, 4))  # 3, 4는 인수
"""

In [0]:
print(add(a,b)) # 위에 a=3, b=4로 정해줌
print(add(10,50))

7
60

### 함수의 결괏값 (return ...)

In [0]:
print("입력값과 결괏값에 따른 함수의 형태")
#######################################
# 입력값 ---> 함수 ----> 결괏값
#######################################
# 일반적인 함수
# 입력값과 결괏값이 있는 함수
"""
def 함수이름(매개변수):
    <수행할 문장>
    ...
    return 결과값
"""

# add와 add2함수는 다른 함수다.
def add2(a, b): 
    result = a + b 
    return result


# 입력값과 결괏값이 있는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)
a = add2(3, 4)
print(a)

입력값과 결괏값에 따른 함수의 형태
7

In [0]:
#######################################
# 입력값이 없는 함수 (매개변수가 없는 함수)

def say(): 
    return 'Hi'


# 입력값이 없는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름()
a = say()
print(a)

Hi

In [0]:
#######################################
# 결괏값이 없는 함수

def add3(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))


# 결괏값이 없는 함수의 사용법
# 함수이름(입력인수1, 입력인수2, ...)
add3(3, 4)

# 다음 결과는 무엇인가?
a = add3(3, 4)
print(a)
#
# return 값이 없기 때문에 None을 할당해줌.

3, 4의 합은 7입니다.
3, 4의 합은 7입니다.
None

In [0]:
#######################################
# 입력값도 결괏값도 없는 함수

def say2(): 
    print('Hi')


# 입력값도 결괏값도 없는 함수의 사용법
# 함수이름()
say()

'Hi'

In [0]:
#######################################
print("매개변수의 값을 지정하여 호출하기") # 중요
#######################################
def add4(a, b):
    return a+b


result = add4(a=3, b=7)  # a에 3, b에 7을 전달
print(result)
# 매개변수의 순서에 상관없이 사용
result2 = add4(b=5, a=3)  # b에 5, a에 3을 전달
print(result2)
#######################################

매개변수의 값을 지정하여 호출하기
10
8

In [0]:
result3 = add4(a=3, 7)
print(result3) # SyntaxError: positional argument follows keyword argument

SyntaxError: ignored

In [0]:
result3 = add4(7, a=3) # TypeError: add4() got multiple values for argument 'a' (a자리 인데 왜 a를 두 번 쓰는것인가?)
print(result3)

TypeError: ignored

In [0]:
result3 = add4(b=7, a=3)
print(result3)

10

### *args
- arg: argument (함수 안에 들어가는 매개변수)

In [0]:
#######################################
print("입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?")
#######################################
"""
def 함수이름(*매개변수): 
    <수행할 문장>
    ...
"""

def add_many(*args):
    result = 0 
    for i in args: 
        result = result + i 
    return result 
# 변수 개수만큼 더해주고 result에 값을 넣어 반환해주는 코드 - 중요

입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

In [0]:
add_many(1, 2, 3)

6

In [7]:
add_many(1, 2, 3)
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

result = add_many(1,2,3,4,5,6,7,8,9,10) # 결괏값 x => 45라는 값을 출력해주는 식이 있어야됨.
print(result) # 그 식이 print(result)

NameError: ignored

In [0]:
#######################################
print("여러 개의 입력을 처리하는 함수(*args)")
#######################################

def add_mul(choice, *z):
    if choice == "add":
        result = 0 
        for i in z:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in z: 
            result = result * i 
    return result 

# add
result = add_mul('add', 1,2,3,4,5)
print(result)

# multiply
result = add_mul('mul', 1,2,3,4,5)
print(result)

여러 개의 입력을 처리하는 함수(*args)
15
120

### 키워드 파라미터 **kwargs

In [0]:
#
#######################################
print("키워드 파라미터 **kwargs")
#######################################

def print_kwargs(**kwargs):
    print(kwargs)


# print_kwargs 함수는 매개변수 kwargs를 출력하는 함수
#
print_kwargs(a=1) # '매개변수=인수'꼴로 정의

print_kwargs(name='foo', age=3)

#
# **kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 
# kwargs는 딕셔너리가 되고 모든 key=value 형태의 결괏값이 
# 그 딕셔너리에 저장된다.
#

키워드 파라미터 **kwargs
{'a': 1}
{'name': 'foo', 'age': 3}

In [0]:
#######################################
print("함수의 결괏값은 언제나 하나")
#######################################
#
def add_and_mul(a,b): 
    return a+b, a*b

# 1,2 == (1,2)
# add_and_mul() 사용 1.
result = add_and_mul(3,4) # (7,12)

print(result)

함수의 결괏값은 언제나 하나
(7, 12)

In [0]:
# add_and_mul() 사용 2.
result1, result2 = add_and_mul(3, 4)

result1, result2

(7, 12)

### 잘못된 함수 사용

In [0]:
#######################################
print("잘못된 함수")
#######################################
def add_and_mul2(a,b): 
    return a+b 
    return a*b  # Not working!!
# return은 함수의 끝인데 두 개가 있으므로 맨 처음만 return 됨.
# 첫 번째 return 실행 후 함수 종료

result = add_and_mul2(2, 3)
print(result)

잘못된 함수
5

### return의 용도

In [0]:
#######################################
print("return 의 용도: 함수 실행 종료")
#######################################
def say_nick(nick): 
    if nick == "바보": 
        return # return 뒤 아무 것도 없으면 반환하지 않음.
    print("나의 별명은 %s 입니다." % nick)


say_nick("홍길동") # '나의 별명은 홍길동 입니다.' 출력
# say_nick("바보") # 실행 결과 없음

return 의 용도: 함수 실행 종료
나의 별명은 홍길동 입니다.

### 매개변수에 초깃값 미리 설정하기

In [0]:
#----------------------------------------
#######################################
print("매개변수에 초깃값 미리 설정하기")
#######################################
def say_myself(name, old, man=True): # man=True 미리 설정
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")
    

say_myself("박응용", 27) # 기본값 그대로
say_myself("박응용", 27, True) # 남자

say_myself("박응용", 27, False) # 여자

매개변수에 초깃값 미리 설정하기
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

In [0]:

def say_myself2(name, man=True, old): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")
    
# SyntaxError: non-default argument follows default argument (초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.)
# 초깃값을 설정해 놓은 매개변수 뒤에 
# 초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다
# 초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.
# 키워드형식의 매개변수는 항상 뒤에 지정.

SyntaxError: ignored

In [0]:
def say_myself2(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")

say_myself2("이지선", 21, False)

나의 이름은 이지선 입니다.
나이는 21살입니다.
여자입니다.

### 함수 안에서 선언한 변수의 효력 범위
- scope of a variable

In [8]:
#######################################
print("함수 안에서 선언한 변수의 효력 범위")
# 전역변수
# 지역 변수, 자동 변수
#######################################

# vartest.py
a = 1 # 전역 변수: 전체 코드에서 다 사용 가능한 변수
def vartest(a): # 지역변수(매개변수)
    a = a +1

# 전역변수 a와 지역변수 a는 다른 변수이다. 

vartest(a) # 출력x => a는 vartest라는 함수 안 만의 변수이기 때문에
print(a)
# 전역변수와 지역변수 구분하는 것 100% 기말고사 퀴즈 출제

함수 안에서 선언한 변수의 효력 범위
1

In [0]:
a = 1 
def vartest(a): 
    a = a +1
    print("지역변수 a =", a)

vartest(a) # 범위를 벗어났기 때문에 출력x
print("전역변수 a =", a)

지역변수 a = 2
전역변수 a = 1

In [0]:
# vartest_error.py
def vartest2(zz):
    zz = zz + 1

vartest2(3)
print(zz)  # NameError: name 'zz' is not defined

NameError: ignored

In [0]:
#######################################
print("함수 안에서 함수 밖의 변수를 변경하는 방법")
# return 사용
# global 변수 사용
#######################################
# 1. return 사용하기
a = 1 
def vartest3(a): 
    a = a +1 
    return a

a = vartest3(a) 
print(a)
# 전역변수 a를 함수 안으로 넣어서 지역변수 a를 반환한 후 출력하면 문제 없음.

함수 안에서 함수 밖의 변수를 변경하는 방법
2

In [9]:
# 2. global 명령어 사용하기 - 가능한 사용하지 않기
a = 1 
def vartest4(): 
    global a 
    a = a+1

vartest4() 
print(a)

2

## lambda 함수 정의 
- 이름 없는 함수를 정의

In [0]:
#--------   lambda  -------------------
# 매우 중요
#######################################
print("lambda")
#######################################
# lambda는 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다. 
# 보통 함수를 한줄로 간결하게 만들 때 사용한다.
#
# lambda 사용법
#
# lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식
#
print("lambda를 이용한 add 함수")

add = lambda a, b: a+b

result = add(3, 4)
print(result)

# lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

lambda
lambda를 이용한 add 함수
7

In [0]:
################################
# lambda 함수의 응용
#
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:]) 
# models라는 리스트에서 3000,10000,2000,5000을 key 안에 넣고 sorted를 이용해 정렬해준다.

# So cool!!!

['N-1000', 'T-2000', 'K-3000', 'X-5000']

In [11]:
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[0:4])

['K-3000', 'N-1000', 'T-2000', 'X-5000']

In [0]:
# vartest.py
a = 1
def vartest(a):
    a = a +1
    # print(a)

vartest(a)
print(a)

1

In [39]:
# function_test.py

# scope_test()
x = 5


def scope_test():
    print(x)
    print(x+5)
    # x += 5

print(scope_test())

5
10
None

In [40]:
# scope_test()

# *args : multiple parameters


def args_test(*args):
    print(type(args))
    print(args)
    for arg in args:
        print(arg)

args_test(1, 2, 3, 4)
args_test(list(range(4)))

<class 'tuple'>
(1, 2, 3, 4)
1
2
3
4
<class 'tuple'>
([0, 1, 2, 3],)
[0, 1, 2, 3]

In [41]:
# **kawargs : keyword arguments


def kwarg_test(**kwargs):
    print(type(kwargs))
    print(kwargs)
    for item in kwargs.items():
        print(item)


kwarg_test(a=1, b='hi')
kwarg_test(x=[1,2,3], y='Hello')

<class 'dict'>
{'a': 1, 'b': 'hi'}
('a', 1)
('b', 'hi')
<class 'dict'>
{'x': [1, 2, 3], 'y': 'Hello'}
('x', [1, 2, 3])
('y', 'Hello')

## 도전 코딩
- A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

- A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

> 함수를 사용하여 A 학급의 평균 점수를 구해 보자.
>> 함수명: average_class(A)

In [33]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0

for i in A:
    sum = sum + i

def average_class(A):
  return sum/len(A)

a = average_class(A)
print(a)

79.0

In [37]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

def average_class(A):
  sum = 0
  for i in A:
    sum = sum + i
  average = sum/len(A)
  return average

print(average_class(A))

# sum을 함수 밖에 쓰면 왜 오류나는지?

79.0