<a href="https://colab.research.google.com/github/jiseon0516/py18/blob/master/Notebook/ch5_exercises_py18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch5_exercises_py18.ipynb

## Q1.
> 다음은 Calculator 클래스이다.

```
class Calculator:
    def __init__(self):
        self.value = 0

    def add(self, val):
        self.value += val
```
---
> 위 클래스를 상속하는 UpgradeCalculator를 만들고 값을 뺄 수 있는 minus 메서드를 추가해 보자. 
>> 즉 다음과 같이 동작하는 클래스를 만들어야 한다.
```
cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)
print(cal.value) # 10에서 7을 뺀 3을 출력
```

In [0]:
# [Q1] Code  
class UpgradeCalculator(Calculator):
  def minus(self, val):
    self.value -= val

# 클래스 상속: class 클래스 이름(상속할 클래스 이름):을 붙인 후 추가할 함수를 입력한다.

In [3]:
# [Q1] Code - 실행
class Calculator:
  def __init__(self):
    self.value = 0

  def add(self, val):
    self.value += val

class UpgradeCalculator(Calculator):
  def minus(self, val):
    self.value -= val

cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value)

3

## Q2.
> 객체변수 value가 100 이상의 값은 가질 수 없도록 제한하는 MaxLimitCalculator 클래스를 만들어 보자. 
>> 즉 다음과 같이 동작해야 한다.
```
cal = MaxLimitCalculator()
cal.add(50) # 50 더하기
cal.add(60) # 60 더하기
print(cal.value) # 100 출력
```
>> 단 반드시 다음과 같은 Calculator 클래스를 상속해서 만들어야 한다.
```
class Calculator:
    def __init__(self):
        self.value = 0
    def add(self, val):
        self.value += val
```

In [0]:
# [Q2] Code
class MaxLimitCalculator(Calculator):
  def add(self,val):
    self.value += val
    if self.value >= 100: 
      self.value = 100

# 클래스 상속:  class 클래스 이름(상속할 클래스 이름):을 붙인 후 추가할 함수를 입력한다.
# add함수에 100을 넘지 못하게 하는 게 하고 넘으면 100을 출력해야 하므로
# Calculator에 있는 add함수에 if문을 넣어 100을 넘으면 self.value 값에 100을 넣어 출력하도록 하는 코드를 추가한 것이다.

In [12]:
# [Q2] Code - 실행
class Calculator:
  def __init__(self):
    self.value = 0
  def add(self, val):
    self.value += val

class MaxLimitCalculator(Calculator):
  def add(self,val):
    self.value += val
    if self.value >= 100: 
      self.value = 100

cal = MaxLimitCalculator()
cal.add(50)
cal.add(60)

print(cal.value)

100

## Q3.
> 다음 결과를 예측해 보자.

- 하나.
```
all([1, 2, abs(-3)-3])
```

- 둘.
```
chr(ord('a')) == 'a'
```

In [14]:
# [Q3] Code - 하나
all([1, 2, abs(-3)-3])

# 리스트 안에 1, 2, abs(-3)-3 의 3개의 요소가 있다.
# abs(x)는 파이썬 클래스의 내장 함수로 어떤 숫자를 입력받았을 때, 그 숫자의 절댓값을 돌려주는 함수이다.
# 이 코드에서 x에 -3을 넣었으므로 3이 출력된다.
# abs(-3)-3은 3에 -3을 더한 것이므로 0이 되고 결과적으로 리스트에 1, 2, 0의 3개의 요소가 들어가게 된다.
# all(x)는 입력받은 x가 모두 참이면 True, 하나라도 거짓이면 False를 돌려주는 함수이다.
# 리스트에서 0은 거짓에 해당하는데 코드에 들어가있으므로 전체 결과는 False로 출력된다.

False

In [16]:
# [Q3] Code - 둘
chr(ord('a')) == 'a'

# chr(i)는 아스키 코드 값을 입력받아 그 코드에 해당하는 문자를 출력하는 함수이다.
# ord(c)는 문자의 아스키 코드 값을 돌려주는 함수이다.
# chr(i)와 ord(c)는 서로 반대 함수이다.
# a의 아스키 코드 값은 97이므로 ord('a')는 97을 돌려준다.
# chr(97)과 같으므로 이에 해당하는 문자는 a이고 a를 돌려준다.
# 'a' == 'a'는 참이므로 True를 출력한다.

True

## Q4.
> filter와 lambda를 사용하여 리스트 [1, -2, 3, -5, 8, -3]에서 음수를 모두 제거해 보자.

In [18]:
# [Q4] Code - 1
def remove(n):
  result = []
  for i in n:
    if i >= 0:
      result.append(i)
  return result

print(remove([1, -2, 3, -5, 8, -3]))

# 일반적인 방법으로 for와 if문을 사용해 0보다 크거나 같으면 result에 담아 출력하는 코드를 사용했다.

[1, 3, 8]

In [19]:
# [Q4] Code - 2
def remove(x):
  return x >= 0

print(list(filter(remove, [1, -2, 3, -5, 8, -3])))

# filter만 사용한 방법으로 0보다 크거나 같으면 반환해주는 remove함수를 새로 만들었다.
# filter와 remove 함수를 이용해 음수를 제거하고 list 형태로 반환해주는 코드를 만들어 결과를 출력했다.

[1, 3, 8]

In [20]:
# [Q4] Code - 3(답)
list(filter(lambda x: x >= 0, [1, -2, 3, -5, 8, -3]))

# filter와 lambda를 사용해 코드를 최소화한 방식이다.
# lambda x: x>=0, filter를 이용해 x가 0보다 크거나 같은 것만 묶어서(참인 값들만 묶어서) 돌려주는데 list를 사용하였으므로 리스트 형태로 출력된다.

[1, 3, 8]

## Q5.
> 234라는 10진수의 16진수는 다음과 같이 구할 수 있다.
```
hex(234)
'0xea'
```
> 이번에는 반대로 16진수 문자열 0xea를 10진수로 변경해 보자.
>>※ 내장 함수 int를 활용해 보자.

In [21]:
# [Q5] Code
int('0xea', 16)

# int(x)는 문자열 형태의 숫자나 소수점이 있는 숫자 등을 정수 형태로 돌려주는 함수이다.
# int(x, radix)는 radix진수로 표현된 문자열 x를 10진수로 변환하여 돌려주는 함수이다.
# 16진수인 문자열 0xea를 10진수로 변환하기 위해서는 int(x, radix) 함수를 사용해야되고,
# x에 0xea, radix에 16을 넣으면 된다.

234

## Q6.
> map과 lambda를 사용하여 [1, 2, 3, 4] 리스트의 각 요솟값에 3이 곱해진 리스트 [3, 6, 9, 12]를 만들어 보자.

In [22]:
# [Q6] Code - 1
def three(number):
  result = []
  for i in number:
    result.append(i*3)
  return result

result = three([1, 2, 3, 4])
print(result)

# 일반적인 방법으로 입력받을 요솟값에 3을 곱해 result에 넣고 반환해주는 three 함수를 만들어 출력해주는 함수를 만들어 사용해다.

[3, 6, 9, 12]

In [23]:
# [Q6] Code - 2
def three(x): return x*3
list(map(three, [1, 2, 3, 4]))

# map함수는 함수와 반복 가능한 자료형을 입력 받아 함수에서 수행한 결과를 묶어 돌려주는 함수이다.
# 입력받은 요솟값에 3을 곱해 돌려주는 three함수를 간단하게 만들었고
# map함수를 이용해 나온 결과를 list형태로 변환시켜 출력하는 코드이다.

[3, 6, 9, 12]

In [24]:
# [Q6] Code - 3(답)
list(map(lambda x: x*3, [1, 2, 3, 4]))

# map함수와 lambda를 사용해 코드를 최소화한 방식이다.
# lambda를 이용해 3을 곱해주고 map함수를 이용해 출력하는 코드를 이용했고 list 형태로 변환시켜 출력해주는 코드이다.

[3, 6, 9, 12]

## Q7.
> 다음 리스트의 최댓값과 최솟값의 합을 구해 보자.
>> [-8, 2, 7, 5, -3, 5, 0, 1]

In [28]:
# [Q7] Code
x = [-8, 2, 7, 5, -3, 5, 0, 1]
max(x) + min(x) 

# max(x)함수는 x를 입력받아 최댓값을 돌려주는 함수이다.
# min(x)함수는 x를 입력받아 최솟값을 돌려주는 함수이다.
# max(x)와 min(x)는 서로 반대 함수이다.
# a에 리스트 값을 담고 max, min 함수를 이용해 출력된 값을 더해준다.

-1

## Q8.
> 17 / 3의 결과는 다음과 같다.
```
17 / 3
5.666666666666667
```
> 위와 같은 결괏값 5.666666666666667을 소숫점 4자리까지만 반올림하여 표시해 보자.

In [29]:
# [Q8] Code
round(17/3, 4)

# round(number[,ndigits])함수는 숫자를 입력받아 입력받은 자리수까지 반올림해주는 함수이다.
# round(17/3, 4)는 17/3한 결과를 소수점 4자리까지 반올림해주는 코드이고
# 6을 반올림 하면 7이므로 5.6667이 출력된다.

5.6667

## Q9.
> 다음과 같이 실행할 때 입력값을 모두 더하여 출력하는 스크립트

> (C:\doit\myargv.py)를 작성해 보자.
```
C:\> cd doit
C:\doit> python myargv.py 1 2 3 4 5 6 7 8 9 10
55
```
>> ※ 외장 함수 sys.argv를 사용해 보자.

In [0]:
# [Q9] Code

## Q10.
> os 모듈을 사용하여 다음과 같이 동작하도록 코드를 작성해 보자.

1. ./doit 디렉터리로 이동한다.
2. dir 명령을 실행하고 그 결과를 변수에 담는다.
3. dir 명령의 결과를 출력한다.

In [0]:
# [Q10] Code

## Q11.
> glob 모듈을 사용하여 ./doit 디렉터리의 파일 중 확장자가 .py인 파일만 출력하는 프로그램을 작성해 보자.

In [0]:
# [Q11] Code

## Q12.
> time 모듈을 사용하여 현재 날짜와 시간을 다음과 같은 형식으로 출력해 보자.

- 2018/04/03 17:20:32

In [0]:
# [Q12] Code

## Q13.
> random 모듈을 사용하여 로또 번호(1~45 사이의 숫자 6개)를 생성해 보자(단 중복된 숫자가 있으면 안 됨).

In [0]:
# [Q13] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch5_exercises_id.ipynb