<a href="https://colab.research.google.com/github/jiseon0516/py18/blob/master/Notebook/ch8_exercises_py18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch8_exercises_py18.ipynb

Q1. 문자열 바꾸기
> 다음과 같은 문자열이 있다.

```
a:b:c:d
```

> 문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오.

```
a#b#c#d
```

In [ ]:
# [Q1] Code-1 
a = "a:b:c:d"
b = a.split(':')
c = "#".join(b)

print(c)

a#b#c#d

### Code 1-1 풀이
1. 바꾸고자 하는 문자열을 k라는 변수에 담아준다.
2. 문자열을 나눠주는 split 함수를 이용해 ':'를 기준으로 k를 나눠준다.
3. 나눠준 문자들을 변수 m에 담아준다.
4. 문자열을 삽입할 수 있게 해주는 join 함수를 이용해 나눠진 사이에 #을 넣어준다.
5. 넣은 것을 n이라는 변수에 담고 출력해준다.

In [ ]:
# [Q1] Code-2
a = "a:b:c:d"
t = a.replace(":","#")
print(t)

a#b#c#d

### Code 1-2 풀이
- 문자열을 바꿔주는 replace 함수를 이용해 ':'을 '#'으로 바꿨다.

## Q2. 딕셔너리 값 추출하기
> 다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.
```
>>> a = {'A':90, 'B':80}
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
>> a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다.  
>>'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [ ]:
# [Q2] Code-1
a = {'A':90, 'B':80}
a.get('C',70)

70

### Code 2-1번 풀이
1. key로 value를 얻는 get 함수를 이용했다.
2. 변수.get(x,디폴트)는 key x가 없을 때 디폴트 값을 출력해준다.
3. 위의 함수를 이용해 a.get('C', 70): C에 해당하는 key가 없을 때 70을 출력해주는 코드를 사용했다.

In [ ]:
# [Q2] Code-2
a = {'A':90, 'B':80}
a['C'] = 70
print(a)

{'A': 90, 'B': 80, 'C': 70}

### Code 2-2번 풀이
a = {'A' : 90, 'B' : 80}이라는 딕셔너리에 (C,70)쌍을 추가하기 위해 a['C'] = 70이라는 기호를 사용했다.

## Q3. 리스트의 더하기와 extend 함수
> 다음과 같은 리스트 a가 있다.
```
a = [1, 2, 3]
```
> 리스트 a에 [4, 5]를 + 기호를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a = a + [4,5]
>>> a
[1, 2, 3, 4, 5]
```
> 리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다.
```
>>> a = [1, 2, 3]
>>> a.extend([4, 5])
>>> a
[1, 2, 3, 4, 5]
```

> ### + 기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

In [ ]:
# [Q3] Explain (코드와 주석으로 설명하시오)
a = [1,2,3]
print(id(a)) 
a = a + [4,5]
print(id([4,5]))
print(id(a)) 
# + 기호를 사용해 더한 것은 다른 메모리 주소를 가지고 있다.
# 즉, a라는 리스트와 [4,5]라는 리스트가 더해져 새로운 메모리에 더한 값이 들어간 것이라고 할 수 있다.

140139814455112
140139814454664
140139814601160

In [ ]:
a = [1,2,3]
print(id(a))
a.extend([4,5])
print(id(a))
# 더하기 전과 후의 메모리 주소가 같은 것을 보아 원래 있는 리스트 a에 [4,5]가 더해진 것이라 볼 수 있다.

140139814914440
140139814914440

### Code 3번 풀이
1. \+ 기호 사용: 다른 메모리를 가진 두 개의 리스트가 합쳐져 새로운 메모리에 할당된다.
2. extend 함수 사용: 원래 있던 리스트에 다른 리스트가 더해진 것이므로 동일한 메모리에 들어간다.

## Q4. 리스트 총합 구하기
> 다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.
```
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
```

In [ ]:
# [Q4] Code-1
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
number = 0
sum = 0
result = []
for i in A:
  number += 1
  if i >= 50:
    result.append(i)
  else: pass

for num in result:
  sum = sum + num

print(sum)

481

### Code 4-1번 풀이
1. 50점 이상의 점수를 담을 result라는 변수를 만들어준다.
2. A에 있는 점수 중 50점 이상이면 result변수에 넣고 그렇지 않으면 그냥 넘어가는 코드를 for문을 이용해 작성했다.
3. for문을 이용해 result 변수에 있는 점수들을 합한 후 print함수를 이용해 출력했다.

In [ ]:
# [Q4] Code-2
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
result = 0

while A:
  mark = A.pop()
  if mark >= 50:
    result += mark
  
print(result)

481

### Code 4-2번 풀이
1. 맨 마지막 요소를 꺼내 지워주는 pop함수를 이용해 mark에 저장했다.
2. 넣은 것 중에 50점 이상이면 result에 넣어 더한 후 그 result값을 출력했다.

## Q5. 피보나치 함수
> 첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.
```
0, 1, 1, 2, 3, 5, 8, 13, 21, ...
```
> 입력을 정수 n으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [ ]:
# [Q5] Code-1
n = int(input("정수의 개수를 입력해주세요. "))

def fibo(n):
  if n == 0:
    return 0
  elif n == 1:
    return 1
  else:
    return fibo(n-2) + fibo(n-1)

for i in range(n):
  print(fibo(i))

정수의 개수를 입력해주세요. 9
0
1
1
2
3
5
8
13
21

### Code 5-1번 풀이
1. 사용자에게 정수를 입력받기 위해 input 함수를 이용했다.
2. input은 모두 문자열로 받아들이기 때문에 정수형으로 만들어주는 int 함수를 사용해 숫자형으로 바꿔줬다.
3. 피보나치 수열 특성 상 0일 때는 0, 1일 때는 1을 반환하므로 if문을 통해 n이 0,1 일 때 0,1 값을 반환하도록 해줬다.
4. n이 0,1이 아닐 때 이전의 두 값을 더하여 반환해주는 코드를 def 예약어를 이용해 함수로 만들어줬다.
5. for문을 이용해 입력 받은 정수번째에 올 때 까지 함수를 반복해주고 그 값을 출력해주는 코드를 작성했다.

In [ ]:
# [Q5] Code-2
n = int(input("정수의 개수를 입력해주세요. "))

def fibo(n):
  result = fibo(n-2) + fibo(n-1) if n>=2 else n
  return result

for i in range(n):
  print(fibo(i))

정수의 개수를 입력해주세요. 10
0
1
1
2
3
5
8
13
21
34

### Code 5-2번 풀이
1. 사용자에게 정수를 입력받기 위해 input 함수를 이용했다. 
2. input은 모두 문자열로 받아들이기 때문에 정수형으로 만들어주는 int 함수를 사용해 숫자형으로 바꿔줬다.
3. if문을 이용해 n이 2 이상일 때는 이전 결과 2개를 합하고 아닐 때는 그 값을 돌려줘서 result에 담고 result를 반환하는 fibo함수를 작성했다.
4. for문을 이용해 입력받은 정수 n번째까지 함수를 실행하고 출력하는 코드를 작성했다.

## Q6. 숫자의 총합 구하기
> 사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

```
65,45,2,3,45,8
```

In [ ]:
# [Q6] Code-1
number = input("숫자를 입력하세요. ")
numbers = number.split(",")

sum = 0
for i in numbers:
  sum = sum + int(i)

print(sum)

숫자를 입력하세요. 65,45,2,3,45,8
168

### Code 6-1번 풀이
1. 숫자를 사용자에게 입력받기 위해 input 함수를 사용했고 입력받은 수를 변수 number에 담았다.
2. 입력받은 숫자들 사이에 ','를 넣기 위해 split함수를 이용했고 만들어진 것을 numbers라는 변수에 넣었다.
3. for문을 이용해 안에 있는 것들을 다 합해 sum에 넣었고 sum을 출력하는 코드를 작성했다.

In [ ]:
# [Q6] Code-2
number = input("콤마를 이용해 숫자를 입력하세요. ")
numbers = number.split(",")

def total(sum, numbers):
  sum = 0
  for i in numbers:
    sum = sum + int(i)
  return sum

print(total(sum,numbers))

콤마를 이용해 숫자를 입력하세요. 65,45,2,3,45,8
168

### Code 6-2번 풀이
1. input을 통해 숫자를 입력받고 split함수를 이용해 중간에 ','를 넣은 뒤 numbers에 저장한다.
2. def를 사용해 total이라는 함수를 만들어주고 받은 수들을 정수로 만든 뒤 더해준 후 더한 값을 반환해주는 내용을 넣는다.
3. print함수를 이용해 출력한다.

## Q7. 한 줄 구구단
> 사용자로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

> 실행 예)
```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [ ]:
# [Q7] Code-1
number = input("구구단을 출력할 숫자를 입력하세요(2~9): ")
numbers = int(number)

result = []
for i in range(1,10):
  result.append(i*numbers)

print(result, end = ' ')

구구단을 출력할 숫자를 입력하세요(2~9): 2
[2, 4, 6, 8, 10, 12, 14, 16, 18]

### Code 7-1번 풀이
- 리스트로
1. 계산할 단을 입력받고 int함수를 이용해 정수로 만들어준 뒤 numbers에 넣는다.
2. 계산한 결과를 넣을 result변수를 만들어주고 for문과 range함수를 이용해 1부터 9까지 곱한 뒤 출력해준다.
3. end = ' '을 이용해 줄을 구분하지 않고 한 칸 공백을 둔 뒤 적을 수 있게 했다.

In [ ]:
# [Q7] Code-2
number = int(input("구구단을 출력할 숫자를 입력하세요(2~9): "))

for i in range(1,10):
  print(i*number, end=' ')

구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18

### Code 7-2번 풀이
1. input함수를 이용해 계산할 단을 입력받고 정수로 만든 뒤 numbers에 넣는다.
2. 리스트로 만들지 않고 바로 출력하기 위해 for문과 range함수를 바로 사용했다.
3. 단과 1~9까지 곱해준 결과를 출력하고 end를 이용해 한 칸 띄우고 바로 쓸 수 있도록 코드를 작성했다.

In [ ]:
number = int(input("구구단을 출력할 숫자를 입력하세요(2~9): "))

i = 1
while i < 10:
  n = i*number
  print(n, end = ' ')
  i = i + 1

구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18

### Code 7-3번 풀이
1. input함수를 이용해 계산할 단을 입력받고 정수로 만든 뒤 number에 넣는다.
2. while문을 사용해 i가 10 미만일 때까지 i와 계산할 단을 곱한 후 출력해주는 코드를 작성했다.

## Q8. 역순 저장
> 다음과 같은 내용의 파일 abc.txt가 있다.
```
AAA
BBB
CCC
DDD
EEE
```
> 이 파일의 내용을 다음과 같이 역순으로 바꾸어 저장하시오.
```
EEE
DDD
CCC
BBB
AAA
```

In [ ]:
# [Q8] Code-1
f = open('abc.txt', 'r')
lines = f.readlines()
f.close()

lines.reverse()

f = open('abc.txt', 'w')
for i in lines:
  f.write(i)
f.close()

In [ ]:
lines

['EEE\n', 'DDD\n', 'CCC\n', 'BBB\n', 'AAA\n']

### Code 8-1번 풀이
1. 파일을 읽기 모드로 열고 readlines함수를 이용해 모든 줄을 읽은 후 파일을 닫는다.
2. reverse함수를 이용해 뒤집어 준다.
3. 다시 파일을 쓰기모드로 열고 뒤집어 준 것을 작성한다.
4. 파일을 닫아준다.

In [ ]:
# [Q8] Code-2
f = open('abc.txt')
lines = f.readlines()
f.close()

for lines in reversed(open("abc.txt").readlines()):
    print(lines.rstrip())

EEE
DDD
CCC
BBB
AAA

### Code 8-2번 풀이
1. 파일을 읽기 모드로 연 후 readlines를 통해 모든 줄을 읽고 lines에 닫는다.
2. for문을 이용해 읽은 것을 뒤집어 준 후 rstrip함수를 이용해 오른쪽 공백을 지워준다.
3. 마지막으로 출력해준다.

## Q9. 평균값 구하기
> 다음과 같이 총 10줄로 이루어진 sample.txt 파일이 있다. sample.txt 파일의 숫자 값을 모두 읽어 총합과 평균 값을 구한 후 평균 값을 result.txt 파일에 쓰는 프로그램을 작성하시오.
```
70
60
55
75
95
90
80
80
85
100
```

In [ ]:
# [Q9] Code-1
f = open('sample.txt', 'r')
line = f.readlines()
f.close()

sum = 0
for i in line:
  sum = sum + float(i)
average = sum/len(line)

f = open('result.txt', 'w')
f.write(str(average))
f.close()

for lines in (open("result.txt").readlines()):
    print(line)

['79.0']

### Code 9-1번 풀이
1. 파일을 읽기 모드로 연 후 readlines 함수를 이용해 모든 줄을 다 읽고 line에 넣은 후 파일을 닫는다.
2. for문을 이용해 넣은 값들을 다 더해주고 sum에 넣는다.
3. sum의 값에 line의 개수만큼 나눠준 후 average라는 변수 안에 값을 저장시킨다.
4. 파일을 쓰기 모드로 연 후 average 값을 문자열 객체로 돌려주는 함수인 str을 이용해 넣어준 다음 파일을 닫는다.

In [ ]:
# [Q9] Code-2
f = open('sample.txt', 'r')
line = f.readlines()
f.close()

line = list(map(int, line))
sum = 0
for i in line:
  sum = sum + float(i)
  average = sum / len(line)

f = open('sample.txt','w')
f.write(str(average))
f.close()

for lines in (open("result.txt").readlines()):
    print(line)

## Q10. 사칙연산 계산기
> 다음과 같이 동작하는 클래스 Calculator를 작성하시오.
```
>>> cal1 = Calculator([1,2,3,4,5])
>>> cal1.sum() # 합계
15
>>> cal1.avg() # 평균
3.0
>>> cal2 = Calculator([6,7,8,9,10])
>>> cal2.sum() # 합계
40
>>> cal2.avg() # 평균
8.0
```

In [ ]:
# [Q10] Code-1
class Calculator:
  def __init__(self, value):
    self.value = value
  def add(self):
    result = 0
    for i in self.value:
      result = result + i
    return result
  def avg(self):
    sum = self.add()
    return sum/len(self.value)

cal1 = Calculator([1,2,3,4,5])
print(cal1.add())
print(cal1.avg())

cal2 = Calculator([6,7,8,9,10])
print(cal2.add())
print(cal2.avg())

15
3.0
40
8.0

### Code 10-1번 풀이
1. Calculator라는 클래스를 만들어서 안에 더하기, 평균 구하는 것에 관한 ㅎ마수를 넣어준다.
2. add함수에서는 result의 초기값을 0으로 잡고 들어오는 수마다 더해주는 코드를 작성했다.
3. 평균 함수에서는 add함수에서 더한 최종 값을 들어온 개수만큼 나눠 평균을 구해 반환해주는 코드를 작성했다.

In [ ]:
# [Q10] Code-2
class Calculator:
  def __init__(self, value):
    self.value = value
  def add(self):
    result = 0
    for i in self.value:
      result = result + i
    return result

class MoreCalculator(Calculator):
  def avg(self):
    sum = self.add()
    return sum/len(self.value)
    
cal1 = MoreCalculator([1,2,3,4,5])
print(cal1.add())
print(cal1.avg())

cal2 = MoreCalculator([6,7,8,9,10])
print(cal2.add())
print(cal2.avg())

15
3.0
40
8.0

### Code 10-2번 풀이
1. add함수를 담은 Calculaotr 클래스를 만들어주었다.
2. Calculator 클래스를 상속한 MoreCalculator 클래스를 만들었고 그 안에 평균을 반환해주는 avg함수를 추가시켰다.

## Q11. 모듈 사용 방법
> ./doit 디렉터리에 mymod.py 파이썬 모듈이 있다고 가정해 보자. 명령 프롬프트 창에서 파이썬 셸을 열어 이 모듈을 import해서 사용할 수 있는 방법을 모두 기술하시오. (즉 다음과 같이 import mymod를 수행할 때 오류가 없어야 한다.)
```
>>> import mymod
>>>
```

In [ ]:
!mkdir doit
# 실행 후 새로 고침!
# mymod.py 를 업로드한다.

In [ ]:
!mv mymod.py ./doit
# 실행 후 새로 고침!

In [ ]:
# [Q11] Code-1
import sys
sys.path.append("c:/doit")
import mymod

### Code 11-1번 풀이
1. 모듈을 불러오는 방법 중 하나인 sys.path.append 함수를 사용했다. 
2. 맨 처음 sys모듈을 불러오기 위해 import를 이용했다.
3. sys.path.append를 이용해서 c:/doit 디렉터리를 추가했다.
4. 다시 import를 이용해서 mymod.py 모듈을 불러왔다.

In [ ]:
# [Q11] Code-3
C:\Users\home>cd c:\doit
C:\doit>python
import mymod

### Code 11-3번 풀이
1. 현재 디렉터리를 이용해 코드를 작성한 것이다.
2. sys.path에 현재 디렉터리인 .이 항상 포함되어 있기 때문에 사용가능하다.

## Q12. 오류와 예외 처리
> 다음 코드의 실행 결과를 예측하고 그 이유에 대해 설명하시오.

```
result = 0

try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4

print(result)
```

In [ ]:
# [Q12] Explain (코드와 주석으로 설명하시오)
result = 0
 
try:
    [1, 2, 3][3]
    "a"+1
    4 / 0
except TypeError:
    result += 1
except ZeroDivisionError:
    result += 2
except IndexError:
    result += 3
finally:
    result += 4
 
print(result)

7

### Code 12번 풀이
- 7이 나온다.
1. result를 0으로 초기화 시킨다.
2. [1,2,3][3]을 실행하면 IndexError가 발생하므로 except IndexError로 이동한다.
3. result 값에 3을 더하란 코드이므로 result에 3이 들어간다.
4. 마지막으로 finally로 이동해 result에 4를 더하면 result의 최종값은 7이 된다.
5. result를 출력하면 7이 출력된다.

## Q13. DashInsert 함수
> DashInsert 함수는 숫자로 구성된 문자열을 입력받은 뒤 문자열 안에서 홀수가 연속되면 두 수 사이에 - 를 추가하고, 짝수가 연속되면 * 를 추가하는 기능을 갖고 있다. DashInsert 함수를 완성하시오.
```
입력 예시: 4546793
출력 예시: 454*67-9-3
```

In [ ]:
# [Q13] Code-1
data = "4546793"
numbers = list(map(int,data))
result = []

for i, num in enumerate(numbers):
  result.append(str(num))
  if i < len(numbers)-1: # 다음 수가 있다면
    is_odd = num% 2 == 1 # num이 홀수
    is_next_odd = numbers[i+1] % 2 == 1 # num 다음 수도 홀수
    if is_odd and is_next_odd: # 연속으로 홀수면 '-' 넣기
      result.append("-")
    elif not is_odd and not is_next_odd: # 연속으로 짝수면 '*' 넣기
      result.append("*")
    
print("".join(result)) # result를 출력할 때 띄어쓰지 않도록 출력함

454*67-9-3

In [ ]:
# [Q13] Code-2
number = input("숫자를 입력해주세요: ")

result = number[0]
for a,b in zip(number[0:], number[1:]): 
    if int(odd) == 0 and int(even)%2 == 0:    # 연속으로 짝수 나올 때
            result += '*' + even
    elif int(odd)%2 == 1 and int(even)%2 == 1:  # 연속으로 홀수 나올 때
        result += '-' + even
    else:
        result += even                        #홀수짝수, 짝수홀수

print(result)

## Q14. 문자열 압축하기
> 문자열을 입력받아 같은 문자가 연속적으로 반복되는 경우에 그 반복 횟수를 표시해 문자열을 압축하여 표시하시오.
```
입력 예시: aaabbcccccca
출력 예시: a3b2c6a1
```

In [ ]:
# [Q14] Code-1
count = 0
result = "aaabbcccccca"
rep = result[0]

for i in result:
  if i == rep[-1]:
    count = count + 1
  else:
    rep += str(count) + i
    count = 1
rep += str(count)

rep

'a3b2c6a1'

### Code 14-1번 풀이
1. 숫자를 셀 변수를 count, 나타내고자 하는 것을 result, 비교할 수 있는 형태로 넣은 것을 rep이라는 변수에 넣었다.
2. 맨마지막 숫자와 비교해서 같으면 count에 1을 증가시키고 아니면 1로 초기화하는 코드를 써 맨마지막에 출력하는 코드를 작성했다.

In [ ]:
# [Q14] Code-2
def compress(s):
  c = ""
  count = 0
  result = ""
  for i in s:
    if i!=c:
      c = i
      if count: result += str(count)
      result += i
      count = 1
    else:
      count += 1
  if count: result += str(count)
  return result

compress("aaabbcccccca")

'a3b2c6a1'

### Code 14-2번 풀이
1. for문과 if문을 이용해 이전 수와 같으면 cout를 증가시키고 아니면 1로 초기화하는 compress함수를 만들었다.
2. compress 함수를 이용해 표현하고자 하는 문자열을 압축시켜 출력했다.

## Q15. Duplicate Numbers
> 0 ~ 9의 문자로 된 숫자를 입력받았을 때, 이 입력값이 0 ~ 9의 모든 숫자를 각각 한 번씩만 사용한 것인지 확인하는 함수를 작성하시오.
```
입력 예시: 0123456789 01234 01234567890 6789012345 012322456789
출력 예시: true false false true false
```

In [ ]:
# [Q15] Code-1
def all(s):
  result = []
  for i in s:
    if i not in result:
      result.append(i)
    else:
      return False
  return len(result) == 10

print(all("0123456789"))
print(all("01234"))
print(all("01234567890"))
print(all("6789012345"))
print(all("012322456789"))

True
False
False
True
False

### Code 15-1번 풀이
1. 입력받은 것 중 하나 이상으로 포함되거나 포함되어있지 않은 것이 있으면 False를 출력하고 조건에 맞는 것은 result에 넣도록 하는 all함수를 만들었다.
2. 확인해보고자 하는 것을 print와 all함수를 이용해 출력한 것이다.

In [ ]:
# [Q15] Code-2
def all(s):
  for i in range(10):
    if s.count(str(i)) != 1:
      print("False")
      return
      
  print("True")

print(all("0123456789"))
print(all("01234"))
print(all("01234567890"))
print(all("6789012345"))
print(all("012322456789"))

True
None
False
None
False
None
True
None
False
None

### Code 15-2번 풀이
1. 10개 안에서 숫자가 한 번 나온 것이 아니면 False를 출력한 후 반환해주고 아닌 것은 True를 출력해주는 all함수를 만들었다.
2. 출력하고자 하는 것을 print와 all함수에 넣어 출력했다.

## Q16. 모스 부호 해독
> 문자열 형식으로 입력받은 모스 부호(dot:. dash:-)를 해독하여 영어 문장으로 출력하는 프로그램을 작성하시오.

- 글자와 글자 사이는 공백 1개, 단어와 단어 사이는 공백 2개로 구분한다.
- 예를 들어 다음 모스 부호는 "HE SLEEPS EARLY"로 해석해야 한다.
```
.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--
```
> 모스부호 규칙 표
```
문자 부호	문자   부호
A	 .-	    N	    -.
B	 -...	O	    ---
C	 -.-.	P	    .--.
D	 -..	Q	    --.-
E	 .	    R	    .-.
F	 ..-.	S	    ...
G	 --.	T	    -
H	 ....	U	    ..-
I	 ..	    V	    ...-
J	 .---	W	    .--
K	 -.-	X	    -..-
L	 .-..	Y	    -.--
M	 --	    Z	    --..
```

In [ ]:
# [Q16] Code-1
dic = { '.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F',
       '--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L',
       '--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R',
       '...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X',
        '-.--':'Y','--..':'Z'
        }

def morse(source):
  result = []
  for i in source.split("  "):
    for j in i.split(" "):
      result.append(dic[j])
    result.append(" ")
  return "".join(result)

print(morse('.... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--'))

HE SLEEPS EARLY

### Code 16-1번 풀이
1. dic이라는 딕셔너리 안에 각각에 맞는 모스부호와 알파벳을 넣어준다.
2. 각각에 대응하는 것들을 result안에 넣어 출력한다.

In [ ]:
dic = {'':' ','.-':'A','-...':'B','-.-.':'C','-..':'D','.':'E','..-.':'F','--.':'G','....':'H','..':'I','.---':'J','-.-':'K','.-..':'L','--':'M','-.':'N','---':'O','.--.':'P','--.-':'Q','.-.':'R','...':'S','-':'T','..-':'U','...-':'V','.--':'W','-..-':'X','-.--':'Y','--..':'Z'}
morse=".... .  ... .-.. . . .--. ...  . .- .-. .-.. -.--"
word=morse.split(" ")
for i in word:
    print(dic[i],end="")

HE SLEEPS EARLY

### Code 16-2번 풀이
1. dic이라는 딕셔너리 안에 각각에 맞는 모스부호와 알파벳을 넣어준다.
2. 각각에 대응하는 것들을 result안에 넣어 출력한다.



---

# 다음 정규식 문제는 기말고사 후에 도전해 보세요.

## Regular Expression
- import re

## Q17. 기초 메타 문자
> 다음 중 정규식 a[.]{3,}b과 매치되는 문자열은 무엇일까?


```
acccb
a....b
aaab
a.cccb
```

In [ ]:
# [Q17] Code

## Q18. 문자열 검색
> 다음 코드의 결괏값은 무엇일까?

```
>>> import re
>>> p = re.compile("[a-z]+")
>>> m = p.search("5 python")
>>> m.start() + m.end()
```

In [ ]:
# [Q18] Code

## Q19. 그루핑
> 다음과 같은 문자열에서 휴대폰 번호 뒷자리인 숫자 4개를 ####로 바꾸는 프로그램을 정규식을 사용하여 작성하시오.

```
park 010-9999-9988
kim 010-9909-7789
lee 010-8789-7768
```

In [ ]:
# [Q19] Code

## Q20. 전방 탐색
> 다음은 이메일 주소를 나타내는 정규식이다. 이 정규식은 park@naver.com, kim@daum.net, lee@myhome.co.kr 등과 매치된다. 긍정형 전방 탐색 기법을 사용하여 .com, .net이 아닌 이메일 주소는 제외시키는 정규식을 작성하시오.

```
.*[@].*[.].*$
```

In [ ]:
# [Q20] Code

## 코딩 연습 결과를 github에 올리기
> 완성된 ipython 노트북 파일을 각자의 github에 올리시오.

- github 계정 만들기 (계정이 없는 학생)
    1. github에 sign up (Google gmail 계정을 이용해서 만드시오.)
- github에 노트 올리기
    2. github에 각자의 id로 repo를 만드시오. (한번 만들면 계속 재사용)
    3. github repo에 연습결과 노트를 올리시오.
        - 제출노트: ch8_exercises_id.ipynb