<a href="https://colab.research.google.com/github/jiseon0516/py18/blob/master/Notebook/mid_exam_py18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 다음 식의 연산 결과는?

In [0]:
  a = 5
  b = 3
  a ** b
  # a ** b는 a의  b승이므로 5의 3승하면 125가 답이다.

125

# 2. 다음 문자열 a에 대하여 슬라이싱을 한 결과는? a = "Life is too short, You need Python!"
   - a[-16:-8]

---

In [0]:
 a = "Life is too short, You need Python!"
 a[-16:-8]
 # a[-16:-8]는 뒤에서 16번째 자리 부터 뒤에서 8번째 자리 직전까지 이므로 'You need'가 정답이 된다.

'You need'

# 3. 다음 list a의 인덱싱 결과는? 
   - a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
   - a[3][-1][0]

In [0]:
a = [1, 2, (3, 4), ['a', 'b', ['My', 'Life', 'Good']]]
a[3][-1][0]
# a[3]은 ['a', 'b', ['My', 'Life', 'Good']]이고 a[3]a[-1]은 뒤에서 첫번째니까 ['My', 'Life', 'Good']이다. 그 중에 0번째는 'My'이기 때문에 'My'가 출력된다.

'My'

# 4. 다음 tuple t1의 슬라이싱 결과는?
   - t1 = (0, 1, "s", "t", "u")
  - t1[2:-2]

In [0]:
t1 = (0, 1, "s", "t", "u")
t1[2:-2]
# t1[2:-2]는 t1 튜플 안에서 인덱스 2부터 뒤에서 2번째 자리 직전까지 나타내는 것이므로 's'만 출력되는데
#  튜플에서 하나의 값을 나타낼 때는 콤마를 찍어야하므로 ('s',)가 출력된다.

('s',)

# 5. 다음 bool값 출력 중 정확한 것은?
   - bool([0,1,2]), bool([0]), bool((0)), bool((0,))

In [0]:
bool([0,1,2]), bool([0]), bool((0)), bool((0,))
# bool([0,1,2])는 안에 [0,1,2]라는 인덱스가 들어가있으므로 True이고, bool([0])은 리스트 안에 0이라는 값이 있으므로 True이다.
# bool((0))는 null list값으로 아무것도 들어있지 않은 상태이므로 False이고 bool((0,))는 튜플 안에 0이라는 요소가 있으므로 True이다.

(True, True, False, True)

# 6. 다음 조건문을 1줄 코드로 변경하시오.
  - score = 80


> - if score >= 60:
   message = "success"


> - else:
  message = "failure"

In [0]:
score = 80
if score >= 60:
  message = "success"
else:
  message = "failure"

=> message = "success" if score>=60 else failure
# 한 줄 코드는 조건문이 참일 경우의 실행결과를 적고 if 조건문을 쓴 다음 else 거짓일 경우의 출력결과를 적어야하기 때문에 위의 코드가 나온다.

# 7. 다음 코드의 실행 결과는?
   - games = ["A", "B", "C"]

   for cnt in range(len(games)):
> print(cnt, games[cnt], end=",")

In [1]:
games = ["A", "B", "C"]

for cnt in range(len(games)):
  print(cnt, games[cnt], end=',')
# len(games)는 games의 길이를 나타내므로 3이고 range(0,3)을 실행하므로 1,2,3이 나온다.
# end = ','는 줄을 바꾸지 않게 해주는 역할을 한다.

0 A,1 B,2 C,

# 8. 다음의 결과가 출력되지 않은 것은? 'I ate 10 apples. so I was sick for three days.'

In [0]:
1. "I ate {0} apples. so I was sick for {1} days".format(10,day)
  code start
  number = 10
  day = "three"
  --------

  # f"I ate {number} apples. so I was sick for {day} days. 문장이 출력되지 않는다.

# 9. 리스트 내포를 사용해 1부터 1000이하의 자연수 중 5의 배수의 합을 구하는 한 줄 코드를 작성하시오.

In [0]:
sum([num for num in range(1,1001) if num % 5 ==0])이 답이 된다.
# range는 1부터 1001직전까지이므로 범위를 range(1,1001)을 사용해야 했고 5의 배수의 합을 구하므로 sum을 사용해야 했다.
#리스트 내포의 형태를 써서 완성하면 sum([num for num in range(1,1001) if num % 5 ==0])이 된다.

# 10. 4개 과목의 평균 성적을 구하시오. [a], [b]에 적합한 코드는?
 - subjects = ['python', 'english', 'math', 'science']
 - scores = [88, 77, 66, 95]
 - total = 0

- for subject, score in [a]______(subjects, scores):
> total += score
> print(subject, score)   
> print("평균 점수 = {0}".format([b]______))

In [0]:
# zip의 리스트 형식인 zip(subject, score)형태를 사용하여 [a]는 zip이라는 것을 알 수 있었고
# 평균 점수이기 때문에 전체 점수 total에서 subjects의 길이만큼 나누어줘야 되기 때문에 [b]는 total/len(subjects)를 사용해야 했다.